<div style="max-width: 320px; font-family: 'Montserrat', sans-serif; display: flex; flex-direction: column; gap: 8px;">
  <!-- Badge principal -->
  <div style="background-color: {{ section.settings.background }}; padding: 6px 8px; border-radius: 6px; display: flex; align-items: center; justify-content: center; gap: 8px;">
    {% if section.settings.icon_1 != blank %}
      <img src="{{ section.settings.icon_1 | image_url }}" alt="Icone" style="height: 14px; width: auto;" />
    {% endif %}
    <span style="font-weight: 600; font-size: 12px; letter-spacing: -0.3px; text-align: center;">{{ section.settings.text_1 }}</span>
  </div>

  <!-- Badges secondaires -->
  <div style="display: flex; gap: 8px; flex-wrap: wrap;">
    <div style="flex: 1; background-color: {{ section.settings.background }}; padding: 6px 8px; border-radius: 6px; font-weight: 700; font-size: 12px; letter-spacing: -0.6px; text-align: center; display: flex; justify-content: center; align-items: center;">
      {% if section.settings.icon_2 != blank %}
        <img src="{{ section.settings.icon_2 | image_url }}" alt="Icone" style="height: 14px; width: auto; margin-right: 6px;" />
      {% endif %}
      {{ section.settings.text_2 }}
    </div>
    <div style="flex: 1; background-color: {{ section.settings.background }}; padding: 6px 8px; border-radius: 6px; font-weight: 700; font-size: 12px; letter-spacing: -0.6px; text-align: center; display: flex; justify-content: center; align-items: center;">
      {% if section.settings.icon_3 != blank %}
        <img src="{{ section.settings.icon_3 | image_url }}" alt="Icone" style="height: 14px; width: auto; margin-right: 6px;" />
      {% endif %}
      {{ section.settings.text_3 }}
    </div>
  </div>
</div>